.memory-board{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 60px);
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.memory-card{
    width: 60px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    perspective: 500px;
}

.memory-card:not(.memory-card--solid):hover{
    transform: scale(1.1);
}

.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border-radius: 6px;
}
  
.memory-card--active .card-inner{
    transform: rotateY(180deg);
}

.memory-card--solid .card-inner{
    transform: rotateY(180deg);
    border: 3px solid #03ff63;
}
  
.card-front,
.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 4px;
}
  
.card-front{
    background-color: #72cfff;
    color: #0a51ab;
    font-weight: bold;
}
  
.card-back{
    background-color: #4CAF50;
    color: white;
    transform: rotateY(180deg);
}

.card-image{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.banner-message{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: #23cbff54;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 2rem 1.5rem;
    color: #055179;
    font-size: 28px;
    font-weight: bold;
}